.title-container  {
    div {
        a {
            padding: 3%;
            padding-left: 11%;
            padding-right: 11%;
            margin-top: 3%;
            .buttonColor();
            border-radius: 4px;
            box-shadow: 0px 1px 5px black;
            text-decoration: none;
            color: black;
            .button();
        }
    }
}